h1,
h2 {
    text-align: justify;
    margin-left: 100px;
    margin-top: 0px;
    padding-top: 50px;
}

h1 {
    font-weight: bold;
}

strong {
    color: #FF0000
}

h2 {
    font-weight: lighter;
    padding-top: 20px;
    font-size: 1em;
}