/* COMPONENT PART */
@import './Components/Error/error.css';
@import './Components/Footer/footer.css';
@import './Components/Header/header.css';
@import './Components/Activity/activity.css';
@import './Components/Duration/duration.css';
@import './Components/Hello/hello.css';
@import './Components/Infos/infos.css';
@import './Components/Radar/radar.css';
@import './Components/Score/score.css';
@import './Components/WorkInProgress/workInProgress.css';

/* PAGES PART */
@import './Pages/Home/home.css';
@import './Pages/Settings/settings.css';
@import './Pages/Community/community.css';
@import './Pages/Dashboard/dashboard.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color:white
}