/* COMPONENT PART */
@import "./styles/variables";
@import "./styles/mixins";
@import "./styles/base";
@import "./components/Header/header";
@import "./components/Footer/footer";
@import "./components/Error/error";
@import "./components/Infos/infos";
@import "./components/Activity/activity";
@import "./components/Duration/duration";
@import "./components/Radar/radar";
@import "./components/Score/score";

/* PAGES PART */
@import "./pages/dashboard/dashboard";
@import "./pages/home/home";
@import './Pages/Settings/settings.css';
@import './Pages/Community/community.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color:white
}