.mr-auto {
    flex: 1;
    margin: auto !important;
    display: flex;
    justify-content: space-around;
}

.mr-autoFooter {
    flex: 1;
    margin: auto !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
}

.logo {
    width: 150px;
}

.activity {
    max-width: 100%;
    object-fit: contain;
}

.infos {
    max-width: 30%;
}

.grayColor {
    background-color: #FBFBFB;
}

.vignette {
    max-width: 35%;
}

.text {
    padding-top: 10px;
}

.result {
    font-size: 1em;
    font-weight: bolder;
}

.unity {
    font-size: 0.5em;
}